/* SIDEBAR CONTAINER */
.side-bar {
    background-color: #121214;
    width: 75vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    padding: 20px 15px;
}

/* MAIN BODY CONTAINER WRAPPER */
.main-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    transition: transform 0.3s ease-out;
    filter: blur(20px);
    opacity: 0;
    /* Animation removed from here */
}

/* This class will handle revealing the website layout */
.main-wrapper.reveal {
    animation: revealPortfolio 1s ease-out forwards;
}


/* TOP NAVIGATION HEADER */
header {
    background-color: black;
    width: 100%;
    height: 7vh;
    align-items: center;
    display: flex;
    border: 1px solid black;
    position: relative;
    padding: 0 15px;
}

/* MASTER SIDEBAR TRIGGER STATES */
body.menu-open {
    overflow: hidden;
    height: 100vh;

    .side-bar {
        transform: translateX(0);
        height: 100vh;
    }
    
    .main-wrapper {
        overflow: hidden;
        height: 100vh;
        opacity: 0.5;
        transform: translateX(75vw);
    }
    header, 
    .main-container,
    footer {
        filter: blur(2px);
        transition: filter 0.3s ease-out; /* Makes the blur turn on smoothly */
}